//Color Variables

$main-text: #333;
$container-color:#888;



//Font Variables
$container-font: Arial, sans-serif;


//Grid Variables
$gutter: 10px;
$gap: $gutter / 2;


//Breakpoint variables
$xs: 576px;
$sm: 769px;
$md: 992px;
$lg: 1200px;


    